{
"parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
      }
  },
  "plugins": ["prettier", "react"],
  "extends": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    space-before-function-paren: ["error", "never"]
  }
}
